@using System.Threading
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - ASP.net MVC Awesome MVC5 bare minimum setup demo</title>
    
    <link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/wui/AwesomeMvc.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/wui/mods.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Common.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    <div class="main">
        @RenderBody()
    </div>
    
    <script src="@Url.Content("~/Scripts/AwesomeMvc.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/utils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/awem.js")" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        var isMobileOrTablet = '@(MobileUtils.IsMobileOrTablet())' == "True";
        var dateFormat = '@(AweUtil.ConvertTojQueryDateFormat(Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern))';

        awem.isMobileOrTablet = function () { return isMobileOrTablet; };

        //init validation (dateformat, ajax loaded content, hidden inputs), cleanup awe localStorage
        utils.init(dateFormat, isMobileOrTablet);
    </script>

    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js" type="text/javascript" async ></script>@* for ie7 *@
</body>
</html>
