@model Mvc5Awesome.Models.ACCT_TAB_JIRKA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ACCT_TAB_JIRKA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ABAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AWDL_START)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWDL_START)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AWDL_LEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWDL_LEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AWDL_LMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWDL_LMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AWDL_TDY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWDL_TDY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRN_DT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRN_DT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POS_START)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POS_START)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POS_LEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POS_LEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POS_LMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POS_LMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POS_TDY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POS_TDY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRENCY_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRENCY_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOLD_AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOLD_AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTUAL_BAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTUAL_BAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCT_SEGMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCT_SEGMENT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AACCT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
